/** menu icons */
.icon-16-archive 		{ background-image: url(../images/menu/icon-16-archive.png); }

/** toolbar icons */
.icon-32-send 			{ background-image: url(../images/toolbar/icon-32-send.png); }

/** header icons */
.icon-48-joobb				{ background-image: url(../images/header/icon-48-joobb.png); }
.icon-48-forum				{ background-image: url(../images/header/icon-48-forum.png); }
.icon-48-category 			{ background-image: url(../images/header/icon-48-category.png); }
.icon-48-configuration		{ background-image: url(../images/header/icon-48-configuration.png); }
.icon-48-template 			{ background-image: url(../images/header/icon-48-template.png); }
.icon-48-emotionset 		{ background-image: url(../images/header/icon-48-emotionset.png); }
.icon-48-iconset 			{ background-image: url(../images/header/icon-48-iconset.png); }
.icon-48-joobbuser 			{ background-image: url(../images/header/icon-48-joobbuser.png); }
.icon-48-group				{ background-image: url(../images/header/icon-48-group.png); }
.icon-48-rank				{ background-image: url(../images/header/icon-48-rank.png); }
.icon-48-joobbtools			{ background-image: url(../images/header/icon-48-joobbtools.png); }
.icon-48-usersync 			{ background-image: url(../images/header/icon-48-usersync.png); }
.icon-48-sitemap 			{ background-image: url(../images/header/icon-48-sitemap.png); }
.icon-48-installation		{ background-image: url(../images/header/icon-48-installation.png); }
.icon-48-credits 			{ background-image: url(../images/header/icon-48-credits.png); }
