/** menu icons */

/** toolbar icons */

/** header icons */
.icon-48-joocm				{ background-image: url(../images/header/icon-48-joocm.png); }
.icon-48-timeformat			{ background-image: url(../images/header/icon-48-timeformat.png); }
.icon-48-profilefieldset	{ background-image: url(../images/header/icon-48-profilefieldset.png); }
.icon-48-profilefield		{ background-image: url(../images/header/icon-48-profilefield.png); }
.icon-48-joocmtools			{ background-image: url(../images/header/icon-48-joocmtools.png); }
.icon-48-usersync 			{ background-image: url(../images/header/icon-48-usersync.png); }
.icon-48-terms	 			{ background-image: url(../images/header/icon-48-terms.png); }
.icon-48-avatar	 			{ background-image: url(../images/header/icon-48-avatar.png); }
.icon-48-interface 			{ background-image: url(../images/header/icon-48-interface.png); }
.icon-48-credits 			{ background-image: url(../images/header/icon-48-credits.png); }
.icon-48-joocmuser 			{ background-image: url(../images/header/icon-48-joocmuser.png); }
.icon-48-link	 			{ background-image: url(../images/header/icon-48-link.png); }
.icon-48-installation 		{ background-image: url(../images/header/icon-48-installation.png); }