<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
<title>Home | EED</title>    
<link href="images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>

<div id="whole">

<!-- HEADER starts -->
<div id="header">

<div id="toplinks">

<div class="bangla">
<a href=""><img src="images/banglashobuj.png" class="banglalink"/></a>
</div>

<div class="toplinks">
	<a href="">Home </a> | 
	<a href="">About </a> | 
	<a href="">Contact </a> | 
	<a href="">Login </a> | 
	<a href="">Web Mail </a>
</div>

</div>
<div id="searchportion">
<div class="searcharea2">
<input type="text" value="" class="searchall"><input type="button" value="Search" class="searchbutton">
</div>
</div>

</div><!-- HEADER ends -->



<div id="content">

<div id="leftarea">
<div class="linksarea">
<div class="menuheading"><div class="menuheadingtitle">Main Menu</div></div>
</div>
<div class="linksarea"></div>
</div>

<div id="middlearea">
<div class="sliderarea"></div>
</div>

<div id="rightarea">

<div class="linksarea">
<div class="menuheading"><div class="menuheadingtitle">Education Minister</div></div>
<div class="edumin"><a href=""><img src="images/edumin.jpg"/></a></div>
<div class="eduminspeech"><center><b>Honorable Education Minister</b></center>
<br>We like to declare...
</div>
</div>

<div class="linksarea">
<div class="menuheading"><div class="menuheadingtitle">Chief Engineer Corner</div></div>
<div class="edumin"><a href=""><img src="images/edumin.png"/></a></div>
<div class="eduminspeech"><center><b>Mr Abdullahil Azad</b></center>
<br>We like to declare...
</div>
</div>

<div class="linksarea"></div>
<div class="linksarea"></div>
</div>

</div>

<div id="footer">
<div class="footerleft">Copyright &copy; 2012 <a href="">EED, Shikkha Bhaban</a> | Designed & Developed by <a href="http://www.webtechbd.net">www.WebTechBD.net</a>
</div>
<div class="footerright"> <a href="">FAQ</a> | <a href="">Site Map</a> | <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a>
</div>
</div>

</div>

</body>
</html>