<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
<title>Education Engineering Department</title>    
<link href="images/eedlogo.png" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="eedstyle.css" />
</head>
<body>

<div id="whole">
<div id="header"></div>
<div id="searchportion"></div>
<div id="content">

<div id="left">
<div class="button"></div><div class="linksarea"></div>
<div class="button"></div><div class="linksarea"></div>
</div>

<div id="dynamic">
</div>

</div>

<div id="footer">
<div class="footerleft">Copyright &copy; 2012 <a href="">EED, Shikkha Bhaban</a> | Designed & Developed by <a href="http://www.webtechbd.net">www.WebTechBD.net</a>
</div>
<div class="footerright"> <a href="">Privacy</a> | <a href="">Terms & Conditions</a>
</div>
</div>

</div>

</body>
</html>